div{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border:10px solid red;
    border-top: 10px solid yellow;
    animation: spin 1s ease 1s infinite normal;
}

@keyframes spin{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}